.tab-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.tab-content-wrap {
  border: 1px solid white;
  padding: 30px;
  margin: 30px 0px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  gap: 30px;
}
